<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- Mijn connectionstring met de docker -->
		<!-- <add name="FitnessDB" connectionString="Data Source=127.0.0.1,1433;Initial Catalog=FitnessDB;Persist Security Info=True;User ID=sa;Password=YASMINE19b;Encrypt=False" providerName="System.Data.SqlClient" /> -->
		<!-- connectionstringzonder docker -->
		<add name="FitnessDB" connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=FitnessDB;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>

